.albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    
}

.album_card {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--cardBackground);
    margin: 20px 0px 20px 0px;
    width: 400px;
    justify-content: space-between;
    border-radius: 4px;

}

.album_card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.heroBanner {
    width: 75%;
    height: 275px;
    object-fit: cover;
}
.loginBanner {
    width: 25%;
    height: 275px;
    object-fit: cover;
}

label {
    color:white;
}

button {
    border: none;
    height: 40px;
    width: 100px;
    background-color:var(--buttonColor);
    color: white;
    border-radius: 4px;
}

#heart-button {
    background-color:var(--buttonColor);
}

.login_button {
    border: none;
    height: 40px;
    width: 100px;
    background-color:var(--buttonColor);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

