.albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-between;
    
}

.album_card {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--cardBackground);
    margin: 20px 0px 20px 0px;
    width: 350px;
    justify-content: space-between;

}

.album_card img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

label {
    color:white;
}

button {
    border: none;
    height: 40px;
    width: 100px;
    background-color:var(--buttonColor);
    color: white;
}

#heart-button {
    background-color:var(--buttonColor);
}

.buttonBack {
    border: 2px soilid black;
    background-color: var(--cardBackground);
    color: white;
}

