@import "./index.css";

:root {
    --background: #222431;
    --darkBackground: #1D1F29;
    --yellow: #FFD200;
    --cardBackground: #00000098;
    --buttonColor: #4073FF;
  }

.container {
    display: flex;
    flex-direction: column; 
}

body {
    background-color: #222431;
}

.navigation-container {
    background-color: var(--darkBackground);
}

.navigationbar {

    margin: auto;
    background-color: var(--darkBackground);
    color: white;

}

.navSearchBar {
    background-color:white ;
}

.nav-link {
    color: white !important;
}

.footer {
    background-color: var(--darkBackground);
}

footer p {
    color: white;
}

.footerbar {
    display: flex;
    flex-direction: row;
    background-color: var(--darkBackground);
}

.footer-image {
    margin-left:8.5%;
}

.heroBanner {
    width: 75%;
    height: 400px;
    object-fit: cover;
}


.is-hidden { 
    display: none; 
}

