.container {
    display: flex;
flex-direction: column; 
}


.album_card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
    width: 500px;
}


.is-hidden { 
    display: none; 
}

.button {
    border: 2px soilid black;
    background-color: rgb(112, 87, 136);
    color: white;
}

.buttonBack {
    border: 2px soilid black;
    background-color: rgb(112, 87, 136);
    color: white;
}

