@import "./index.css";

:root {
    --background: #222431;
    --darkBackground: #1D1F29;
    --yellow: #FFD200;
    --cardBackground: #00000098;
    --buttonColor: #4073FF;
  }

.container {
    display: flex;
    flex-direction: column; 
}

body {
    background-color: #222431;
}

.navigation-container {
    background-color: var(--darkBackground);
}

.navigationbar {

    margin: auto;
    background-color: var(--darkBackground);
    color: white;

}

.navSearchBar {
    background-color:white ;
}

.nav-link {
    color: white !important;
}

.footer {
    background-color: var(--darkBackground);
}

footer p {
    color: white;
}

.footerbar {
    display: flex;
    flex-direction: row;
    background-color: var(--darkBackground);
}

.footer-image {
    margin-left:8.5%;
}

.heroSection-container {
display: flex;
flex-direction: row;
}

.heroBanner {
    width: 75%;
    height: 400px;
    object-fit: cover;
}
.loginBanner {
    width: 25%;
    height: 400px;
    object-fit: cover;
}

.hero_title {
    color: var(--yellow);
    font-size: 30px;
    font-weight:700;
}

.hero_paragraph {
    color: white;
    font-size: 18px;
    font-weight: 300;
}
.page_subtitle {
    color: var(--yellow);
    font-size: 30px;
    font-weight:400;
}

.footer_paragraph {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.card_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view_album_btn {
    border: none;
    height: 40px;
    width: 100px;
    background-color:var(--buttonColor);
    color: white;    
}

.view_album_btn a {
    color: white;
    text-decoration: none;
}


.is-hidden { 
    display: none; 
}

